<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="FTP_SERVER" value=" ftp://jjdeveloperswdm.com" />
    <add key="FTP_USER" value="bonita_smile@jjdeveloperswdm.com" />
    <add key="FTP_PASSWORD" value="bonita_smile" />
    <add key="FTP_PATH" value="/" />
    <add key="NOMBRE_FICHERO" value="yugi.jpg" />
    <add key="RUTA_FICHERO" value="C:\Users\José Alberto\Pictures\" />
  </appSettings>
</configuration>
